<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.14" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.14" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.14" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.6.0.529-pre3" targetFramework="xamarinios10" />
</packages>