<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.11" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.1.823" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.1.823" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.1.0.530888-pre2" targetFramework="xamarinios10" />
</packages>